<div class="container p">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                          <input type="text" class="form-control" name="title" placeholder="title" autofocus>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>